@import "tailwindcss";
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(24px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-24px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(40);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
